/*@media ()*/

/*BG-Gradient*/
.bg1 {
  width: 100%;
  height: 100%;
  background: radial-gradient(#808080, #404040, #000000);
  margin: auto;
}

/*"Moving-nav"*/
header {
  width: 100%;
  height: 40px;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3);
  box-shadow: 3px 3px 50px rgba(255,255,255,0.4);
  margin-top: 100px;
  padding-right: 20px;
  position: fixed;
  text-align: right;
  text-shadow: 5px 5px 10px;
  overflow: visible;
}
#brown {
  text-decoration: none;
  color: black;
  font-family: 'Nothing You Could Do', cursive;
}
#brown:hover {
  text-shadow: 5px 5px 5px;
}

/*"Navigator-icons"*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;  /* Preferred icon size: 24px */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/*"Navigator"*/
ul {
  list-style: none;
  margin: auto;
  padding: 25px 10px 0 10px;
  top: 0;
  width: 100%;
  height: 100px;
  position: absolute;
  overflow: visible;
}
li {float: right;}
li a {
  color: white;
  text-align: center;
  text-shadow: 20px 20px 10px;
  padding: 10px 20px;
  display: inline-block;
}
#active {
  color: #95DEE3;
}
li a:link {
  text-decoration: none;
}
li a:hover {
  text-decoration: none;
  color: #95DEE3;
  -webkit-animation-name: jello;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

/*"Footer"*/
footer {
  width: 100%;
  height: 150px;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3);
  box-shadow: 3px 3px 50px rgba(255,255,255,0.4);
  margin: 0;
  padding: 50px;
  text-align: center;
  text-shadow: 5px 5px 10px;
  overflow: visible;
}
#url a {
  color: black;
  font-family: 'Homemade Apple', cursive;
  font-size: 15px;
}
#url a:link {text-decoration: none;}
#url a:hover {
  color: black;
  text-shadow: 5px 5px 5px;
}
